{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="shortcut icon"
  type="image/png"
  href="{% static 'images/bird4.svg' %}"
>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>Swallow Collector</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          src="{% static 'images/bird6.svg' %}"
          alt="The Swallow Collector Logo"
          style="width:18px"
        >
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'swallows_index'%}">All Swallows</a></li>
        <li><a href="{% url 'items_index' %}">All Toys</a></li>
        <li><a href="{% url 'swallows_create' %}">Add a Swallow</a></li>
        <li><a href="{% url 'items_create' %}">Add an Item</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>